In [1]:
import pandas as pd

In [2]:
lote_2_bruto = pd.read_excel('planilhas\\2_LT_2572_29052024.xlsx')

In [4]:
lote_2_bruto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2572 entries, 0 to 2571
Data columns (total 90 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   item                                                                                       2572 non-null   int64
 1   Inscr. Imob.                                                                               2572 non-null   object
 2   Área
Construída                                                                            2572 non-null   int64
 3   Área
do
Terreno                                                                            2572 non-null   int64
 4   Utilização                                                                                 2543 non-null   object
 5   Utilização
Especial/Institucional                                                          29 non-null     object
 6   Atividade
Especial                                                                         80 non-null     object
 7   Cod.
Logradouro
Localização                                                                2572 non-null   object
 8   Tipo
Logradouro
Localização                                                                2572 non-null   object
 9   Título
Logradouro
Localização                                                              912 non-null    object
 10  Nome
Logradouro
Localização                                                                2572 non-null   object
 11  Cod.
Logradouro
Tributação                                                                 2572 non-null   object
 12  Tipo
Logradouro
Tributação                                                                 2572 non-null   object
 13  Título
Logradouro
Tributação                                                               925 non-null    object
 14  Nome
Logradouro
Tributação                                                                 2572 non-null   object
 15  Faixa
Logradouro
Tributação                                                                2572 non-null   object
 16  Nº
Porta
Localização                                                                       1563 non-null   object
 17  Nº
Métrico
Localização                                                                     2455 non-null   float64
 18  Edifício
Localização                                                                       450 non-null    object
 19  Conjunto
Localização                                                                       107 non-null    object
 20  Bloco
Localização                                                                          141 non-null    object
 21  Lote
Localização                                                                           422 non-null    object
 22  Quadra
Localização                                                                         522 non-null    object
 23  Cod.
Subunidade
Localização                                                                1585 non-null   object
 24  Nº
Subunidade
Localização                                                                  1278 non-null   object
 25  Observação
Localização                                                                     2549 non-null   object
 26  Complemento
Localização                                                                    25 non-null     object
 27  Ponto de Referência Localização                                                            443 non-null    object
 28  Loteamento
Localização                                                                     142 non-null    object
 29  Bairro
Localização                                                                         2510 non-null   object
 30  Setor
Fiscal                                                                               2572 non-null   object
 31  Matrícula
Embasa                                                                           1071 non-null   float64
 32  Padrão
Construtivo
(atual)                                                                 2569 non-null   object
 33  Padrão
Construtivo
(futuro)                                                                1436 non-null   object
 34  Padrão
Construtivo
(antigo)                                                                2570 non-null   object
 35  Situação Fiscal IPTU                                                                       2572 non-null   object
 36  Situação Fiscal TRSD                                                                       2572 non-null   object
 37  Valor
do
IPTU
2024                                                                         2572 non-null   float64
 38  Valor
da
TRSD
2024                                                                         2572 non-null   float64
 39  Valor
Venal
2024                                                                           2572 non-null   float64
 40  Coordenada
X                                                                               1097 non-null   float64
 41  Coordenada
Y                                                                               1097 non-null   float64
 42  CPF/CNPJ
Destinatário                                                                      2353 non-null   object
 43  Nome
Destinatário                                                                          2572 non-null   object
 44  UF
Destinatário                                                                            454 non-null    object
 45  Município
Destinatário                                                                     2572 non-null   object
 46  Cod.
Logradouro
Destinatário                                                               2209 non-null   object
 47  Tipo
Logradouro
Destinatário                                                               2209 non-null   object
 48  Título
Logradouro
Destinatário                                                             765 non-null    object
 49  Nome
Logradouro
Destinatário                                                               2490 non-null   object
 50  Conjunto
Destinatário                                                                      39 non-null     object
 51  Nº
Porta
Destinatário                                                                      2513 non-null   object
 52  Edifício
Destinatário                                                                      677 non-null    object
 53  Cod.
Subunidade
Destinatário                                                               854 non-null    object
 54  Nº
Subunidade
Destinatário                                                                 488 non-null    object
 55  Complemento
Destinatário                                                                   1582 non-null   object
 56  Bairro
Destinatário                                                                        2482 non-null   object
 57  Ponto
de
Referência
Destinatário                                                           419 non-null    object
 58  CEP
Destinatário                                                                           2459 non-null   float64
 59  Telefone
Destinatário                                                                      1384 non-null   object
 60  e-mail
Destinatário                                                                        298 non-null    object
 61  CPF/CNPJ
Contribuinte                                                                      2572 non-null   object
 62  Nome
Contribuinte                                                                          2572 non-null   object
 63  UF
Contribuinte                                                                            21 non-null     object
 64  Município
Contribuinte                                                                     2425 non-null   object
 65  Cod.
Logradouro
Contribuinte                                                               1565 non-null   object
 66  Tipo
Logradouro
Contribuinte                                                               1565 non-null   object
 67  Título
Logradouro
Contribuinte                                                             578 non-null    object
 68  Nome
Logradouro
Contribuinte                                                               1577 non-null   object
 69  Conjunto
Contribuinte                                                                      0 non-null      float64
 70  Nº
Porta
Contribuinte                                                                      1479 non-null   object
 71  Edifício
Contribuinte                                                                      322 non-null    object
 72  Cod.
Subunidade
Contribuinte                                                               0 non-null      float64
 73  Nº
Subunidade
Contribuinte                                                                 0 non-null      float64
 74  Complemento
Contribuinte                                                                   1044 non-null   object
 75  Bairro
Contribuinte                                                                        2425 non-null   object
 76  Ponto
de
Referência
Contribuinte                                                           0 non-null      float64
 77  CEP
Contribuinte                                                                           2414 non-null   float64
 78  Telefone
Contribuinte                                                                      239 non-null    object
 79  e-mail
Contribuinte                                                                        89 non-null     object
 80  SQL                                                                                        52 non-null     object
 81  Qtd
Exercícios
com
débitos
(Sefaz e Dívida Ativa)                                          2572 non-null   int64
 82  Total
do
débito
(Sefaz e Dívida Ativa)                                                     2572 non-null   float64
 83  Mais de 16 anos
sem pagamento
IPTU/TRSD
(sim/não)
-
de
2008 a 2023                         2572 non-null   object
 84  Possui
imunidade, isenção ou não incidência
de
IPTU
(sim/não)
-
de
2008 a 2023             2572 non-null   object
 85  Possui
imunidade, isenção ou não incidência
da
TRSD
(sim/não)
-
de
2008 a 2023             2572 non-null   object
 86  Possui
pagamentos
de
Transmissão (ITIV)
associados à inscrição
(sim/não)
-
de
2008 a 2023  2572 non-null   object
 87  Possui
PAD
(sim/não)                                                                       2572 non-null   object
 88  Possui
Parcelamentos
(sim/não)                                                             2572 non-null   object
 89  Possui
REFIS
(sim/não)                                                                     2572 non-null   object
dtypes: float64(14), int64(4), object(72)
memory usage: 1.8+ MB

In [6]:
# tratando campos com hifem
# 2 8 12
traco = '-'
colunas_com_traco = [1, 7, 11]

for coluna in colunas_com_traco:
    lote_2_bruto.iloc[:, coluna] = lote_2_bruto.iloc[:, coluna].apply(lambda x: x.replace(traco, ''))

In [7]:
lote_2_bruto.head(10)

,item,Inscr. Imob.,Área\nConstruída,Área\ndo\nTerreno,Utilização,Utilização\nEspecial/Institucional,Atividade\nEspecial,Cod.\nLogradouro\nLocalização,Tipo\nLogradouro\nLocalização,Título\nLogradouro\nLocalização,...,SQL,Qtd\nExercícios\ncom\ndébitos\n(Sefaz e Dívida Ativa),Total\ndo\ndébito\n(Sefaz e Dívida Ativa),Mais de 16 anos\nsem pagamento\nIPTU/TRSD\n(sim/não)\n-\nde\n2008 a 2023,"Possui\nimunidade, isenção ou não incidência\nde\nIPTU\n(sim/não)\n-\nde\n2008 a 2023","Possui\nimunidade, isenção ou não incidência\nda\nTRSD\n(sim/não)\n-\nde\n2008 a 2023",Possui\npagamentos\nde\nTransmissão (ITIV)\nassociados à inscrição\n(sim/não)\n-\nde\n2008 a 2023,Possui\nPAD\n(sim/não),Possui\nParcelamentos\n(sim/não),Possui\nREFIS\n(sim/não)
0,8590,1313851,41,61,Residencial Horizontal,NaN,NaN,73563,2ª Travessa,NaN,...,NaN,8,2004.87,Não,Não,Não,Não,Não,Não,Não
1,8591,5853915,47,28,Residencial Vertical,NaN,NaN,219274,Caminho,NaN,...,NaN,1,50.46,Não,Sim,Não,Não,Sim,Não,Não
2,8592,8833974,24,250,Comercial,NaN,NaN,75337,Rua,São,...,NaN,1,148.48,Não,Não,Não,Não,Sim,Não,Não
3,8593,4176227,44,41,Residencial Vertical,NaN,NaN,54631,Rua,Doutor,...,NaN,1,165.32,Não,Sim,Não,Não,Não,Não,Sim
4,8594,1878050,54,200,Residencial Horizontal,NaN,NaN,62782,Travessa,da,...,NaN,1,183.72,Não,Sim,Não,Não,Não,Não,Não
5,8595,2948850,60,192,Residencial Horizontal,NaN,NaN,109495,Rua,São,...,NaN,1,190.23,Não,Não,Não,Não,Não,Não,Não
6,8596,9403604,88,44,Comercial,NaN,NaN,229105,Estrada,de,...,NaN,1,226.64,Não,Não,Não,Não,Não,Não,Não
7,8597,2810085,83,684,Residencial Horizontal,NaN,NaN,28150,Rua,Doutor,...,NaN,1,284.11,Não,Não,Não,Não,Sim,Não,Não
8,8598,2373718,70,530,Residencial Horizontal,NaN,NaN,49026,Rua,São,...,NaN,4,315.89,Não,Sim,Não,Não,Não,Não,Não
9,8599,4270177,30,91,Residencial Vertical,NaN,NaN,67032,Rua,NaN,...,NaN,4,333.49,Não,Não,Sim,Não,Não,Não,Não

In [8]:
nomes_colunas = lote_2_bruto.columns.to_list()
nomes_colunas

['item',
 'Inscr. Imob.',
 'Área\nConstruída',
 'Área\ndo\nTerreno',
 'Utilização',
 'Utilização\nEspecial/Institucional',
 'Atividade\nEspecial',
 'Cod.\nLogradouro\nLocalização',
 'Tipo\nLogradouro\nLocalização',
 'Título\nLogradouro\nLocalização',
 'Nome\nLogradouro\nLocalização',
 'Cod.\nLogradouro\nTributação',
 'Tipo\nLogradouro\nTributação',
 'Título\nLogradouro\nTributação',
 'Nome\nLogradouro\nTributação',
 'Faixa\nLogradouro\nTributação',
 'Nº\nPorta\nLocalização',
 'Nº\nMétrico\nLocalização',
 'Edifício\nLocalização',
 'Conjunto\nLocalização',
 'Bloco\nLocalização',
 'Lote\nLocalização',
 'Quadra\nLocalização',
 'Cod.\nSubunidade\nLocalização',
 'Nº\nSubunidade\nLocalização',
 'Observação\nLocalização',
 'Complemento\nLocalização',
 'Ponto de Referência Localização',
 'Loteamento\nLocalização',
 'Bairro\nLocalização',
 'Setor\nFiscal',
 'Matrícula\nEmbasa',
 'Padrão\nConstrutivo\n(atual)',
 'Padrão\nConstrutivo\n(futuro)',
 'Padrão\nConstrutivo\n(antigo)',
 'Situação Fiscal IPTU',
 'Situação Fiscal TRSD',
 'Valor\ndo\nIPTU\n2024',
 'Valor\nda\nTRSD\n2024',
 'Valor\nVenal\n2024',
 'Coordenada\nX',
 'Coordenada\nY',
 'CPF/CNPJ\nDestinatário',
 'Nome\nDestinatário',
 'UF\nDestinatário',
 'Município\nDestinatário',
 'Cod.\nLogradouro\nDestinatário',
 'Tipo\nLogradouro\nDestinatário',
 'Título\nLogradouro\nDestinatário',
 'Nome\nLogradouro\nDestinatário',
 'Conjunto\nDestinatário',
 'Nº\nPorta\nDestinatário',
 'Edifício\nDestinatário',
 'Cod.\nSubunidade\nDestinatário',
 'Nº\nSubunidade\nDestinatário',
 'Complemento\nDestinatário',
 'Bairro\nDestinatário',
 'Ponto\nde\nReferência\nDestinatário',
 'CEP\nDestinatário',
 'Telefone\nDestinatário',
 'e-mail\nDestinatário',
 'CPF/CNPJ\nContribuinte',
 'Nome\nContribuinte',
 'UF\nContribuinte',
 'Município\nContribuinte',
 'Cod.\nLogradouro\nContribuinte',
 'Tipo\nLogradouro\nContribuinte',
 'Título\nLogradouro\nContribuinte',
 'Nome\nLogradouro\nContribuinte',
 'Conjunto\nContribuinte',
 'Nº\nPorta\nContribuinte',
 'Edifício\nContribuinte',
 'Cod.\nSubunidade\nContribuinte',
 'Nº\nSubunidade\nContribuinte',
 'Complemento\nContribuinte',
 'Bairro\nContribuinte',
 'Ponto\nde\nReferência\nContribuinte',
 'CEP\nContribuinte',
 'Telefone\nContribuinte',
 'e-mail\nContribuinte',
 'SQL',
 'Qtd\nExercícios\ncom\ndébitos\n(Sefaz e Dívida Ativa)',
 'Total\ndo\ndébito\n(Sefaz e Dívida Ativa)',
 'Mais de 16 anos\nsem pagamento\nIPTU/TRSD\n(sim/não)\n-\nde\n2008 a 2023',
 'Possui\nimunidade, isenção ou não incidência\nde\nIPTU\n(sim/não)\n-\nde\n2008 a 2023',
 'Possui\nimunidade, isenção ou não incidência\nda\nTRSD\n(sim/não)\n-\nde\n2008 a 2023',
 'Possui\npagamentos\nde\nTransmissão (ITIV)\nassociados à inscrição\n(sim/não)\n-\nde\n2008 a 2023',
 'Possui\nPAD\n(sim/não)',
 'Possui\nParcelamentos\n(sim/não)',
 'Possui\nREFIS\n(sim/não)']

In [16]:

nomes_colunas_modificados = [nome.replace('\n', '_').lower() for nome in nomes_colunas]
nomes_colunas_modificados

['item',
 'inscr. imob.',
 'área_construída',
 'área_do_terreno',
 'utilização',
 'utilização_especial/institucional',
 'atividade_especial',
 'cod._logradouro_localização',
 'tipo_logradouro_localização',
 'título_logradouro_localização',
 'nome_logradouro_localização',
 'cod._logradouro_tributação',
 'tipo_logradouro_tributação',
 'título_logradouro_tributação',
 'nome_logradouro_tributação',
 'faixa_logradouro_tributação',
 'nº_porta_localização',
 'nº_métrico_localização',
 'edifício_localização',
 'conjunto_localização',
 'bloco_localização',
 'lote_localização',
 'quadra_localização',
 'cod._subunidade_localização',
 'nº_subunidade_localização',
 'observação_localização',
 'complemento_localização',
 'ponto de referência localização',
 'loteamento_localização',
 'bairro_localização',
 'setor_fiscal',
 'matrícula_embasa',
 'padrão_construtivo_(atual)',
 'padrão_construtivo_(futuro)',
 'padrão_construtivo_(antigo)',
 'situação fiscal iptu',
 'situação fiscal trsd',
 'valor_do_iptu_2024',
 'valor_da_trsd_2024',
 'valor_venal_2024',
 'coordenada_x',
 'coordenada_y',
 'cpf/cnpj_destinatário',
 'nome_destinatário',
 'uf_destinatário',
 'município_destinatário',
 'cod._logradouro_destinatário',
 'tipo_logradouro_destinatário',
 'título_logradouro_destinatário',
 'nome_logradouro_destinatário',
 'conjunto_destinatário',
 'nº_porta_destinatário',
 'edifício_destinatário',
 'cod._subunidade_destinatário',
 'nº_subunidade_destinatário',
 'complemento_destinatário',
 'bairro_destinatário',
 'ponto_de_referência_destinatário',
 'cep_destinatário',
 'telefone_destinatário',
 'e-mail_destinatário',
 'cpf/cnpj_contribuinte',
 'nome_contribuinte',
 'uf_contribuinte',
 'município_contribuinte',
 'cod._logradouro_contribuinte',
 'tipo_logradouro_contribuinte',
 'título_logradouro_contribuinte',
 'nome_logradouro_contribuinte',
 'conjunto_contribuinte',
 'nº_porta_contribuinte',
 'edifício_contribuinte',
 'cod._subunidade_contribuinte',
 'nº_subunidade_contribuinte',
 'complemento_contribuinte',
 'bairro_contribuinte',
 'ponto_de_referência_contribuinte',
 'cep_contribuinte',
 'telefone_contribuinte',
 'e-mail_contribuinte',
 'sql',
 'qtd_exercícios_com_débitos_(sefaz e dívida ativa)',
 'total_do_débito_(sefaz e dívida ativa)',
 'mais de 16 anos_sem pagamento_iptu/trsd_(sim/não)_-_de_2008 a 2023',
 'possui_imunidade, isenção ou não incidência_de_iptu_(sim/não)_-_de_2008 a 2023',
 'possui_imunidade, isenção ou não incidência_da_trsd_(sim/não)_-_de_2008 a 2023',
 'possui_pagamentos_de_transmissão (itiv)_associados à inscrição_(sim/não)_-_de_2008 a 2023',
 'possui_pad_(sim/não)',
 'possui_parcelamentos_(sim/não)',
 'possui_refis_(sim/não)']

In [17]:
lote_2_bruto.columns = nomes_colunas_modificados
lote_2_bruto

,item,inscr. imob.,área_construída,área_do_terreno,utilização,utilização_especial/institucional,atividade_especial,cod._logradouro_localização,tipo_logradouro_localização,título_logradouro_localização,...,sql,qtd_exercícios_com_débitos_(sefaz e dívida ativa),total_do_débito_(sefaz e dívida ativa),mais de 16 anos_sem pagamento_iptu/trsd_(sim/não)_-_de_2008 a 2023,"possui_imunidade, isenção ou não incidência_de_iptu_(sim/não)_-_de_2008 a 2023","possui_imunidade, isenção ou não incidência_da_trsd_(sim/não)_-_de_2008 a 2023",possui_pagamentos_de_transmissão (itiv)_associados à inscrição_(sim/não)_-_de_2008 a 2023,possui_pad_(sim/não),possui_parcelamentos_(sim/não),possui_refis_(sim/não)
0,8590,1313851,41,61,Residencial Horizontal,NaN,NaN,73563,2ª Travessa,NaN,...,NaN,8,2004.87,Não,Não,Não,Não,Não,Não,Não
1,8591,5853915,47,28,Residencial Vertical,NaN,NaN,219274,Caminho,NaN,...,NaN,1,50.46,Não,Sim,Não,Não,Sim,Não,Não
2,8592,8833974,24,250,Comercial,NaN,NaN,75337,Rua,São,...,NaN,1,148.48,Não,Não,Não,Não,Sim,Não,Não
3,8593,4176227,44,41,Residencial Vertical,NaN,NaN,54631,Rua,Doutor,...,NaN,1,165.32,Não,Sim,Não,Não,Não,Não,Sim
4,8594,1878050,54,200,Residencial Horizontal,NaN,NaN,62782,Travessa,da,...,NaN,1,183.72,Não,Sim,Não,Não,Não,Não,Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2567,11157,6951970,10146,25330,Industrial,NaN,NaN,46612,Avenida,Cardeal,...,NaN,9,2512580.76,Não,Não,Não,Sim,Sim,Não,Não
2568,11158,126268,4351,27300,Industrial,NaN,NaN,40533,Rua,do,...,NaN,14,3541815.07,Não,Não,Não,Sim,Não,Não,Não
2569,11159,4920830,1737,101351,Comercial,NaN,NaN,5789,Avenida,NaN,...,NaN,10,4575900.65,Não,Não,Não,Sim,Não,Não,Não
2570,11160,2330806,40,68540,Residencial Horizontal,NaN,NaN,5789,Avenida,NaN,...,NaN,20,8467277.96,Não,Não,Não,Não,Não,Não,Não
2571,11161,5979331,53138,62835,Comercial,NaN,NaN,95397,Praça,NaN,...,NaN,16,15947482.01,Não,Não,Não,Não,Não,Não,Não

In [18]:
lote_2_filtro_debito = lote_2_bruto.sort_values('total_do_débito_(sefaz e dívida ativa)', ascending=False)
lote_2_filtro_debito

,item,inscr. imob.,área_construída,área_do_terreno,utilização,utilização_especial/institucional,atividade_especial,cod._logradouro_localização,tipo_logradouro_localização,título_logradouro_localização,...,sql,qtd_exercícios_com_débitos_(sefaz e dívida ativa),total_do_débito_(sefaz e dívida ativa),mais de 16 anos_sem pagamento_iptu/trsd_(sim/não)_-_de_2008 a 2023,"possui_imunidade, isenção ou não incidência_de_iptu_(sim/não)_-_de_2008 a 2023","possui_imunidade, isenção ou não incidência_da_trsd_(sim/não)_-_de_2008 a 2023",possui_pagamentos_de_transmissão (itiv)_associados à inscrição_(sim/não)_-_de_2008 a 2023,possui_pad_(sim/não),possui_parcelamentos_(sim/não),possui_refis_(sim/não)
2571,11161,5979331,53138,62835,Comercial,NaN,NaN,95397,Praça,NaN,...,NaN,16,15947482.01,Não,Não,Não,Não,Não,Não,Não
2570,11160,2330806,40,68540,Residencial Horizontal,NaN,NaN,5789,Avenida,NaN,...,NaN,20,8467277.96,Não,Não,Não,Não,Não,Não,Não
2569,11159,4920830,1737,101351,Comercial,NaN,NaN,5789,Avenida,NaN,...,NaN,10,4575900.65,Não,Não,Não,Sim,Não,Não,Não
2568,11158,126268,4351,27300,Industrial,NaN,NaN,40533,Rua,do,...,NaN,14,3541815.07,Não,Não,Não,Sim,Não,Não,Não
245,8835,3105989,4659,24100,Comercial,NaN,NaN,43494,Estrada,NaN,...,NaN,9,3113359.57,Não,Não,Não,Não,Não,Não,Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686,9276,2638053,57,52,Residencial Vertical,NaN,NaN,77950,Rua,NaN,...,NaN,2,0.02,Não,Não,Não,Não,Não,Não,Não
682,9272,2168375,2317,8592,Comercial,NaN,NaN,48763,Rua,NaN,...,NaN,1,0.01,Não,Não,Não,Não,Sim,Não,Não
683,9273,91995,356,1452,Residencial Horizontal,NaN,NaN,41424,Rua,NaN,...,NaN,1,0.01,Não,Não,Não,Não,Sim,Não,Não
684,9274,3398676,40,400,Residencial Vertical,NaN,NaN,44164,Avenida,NaN,...,NaN,1,0.01,Não,Não,Não,Não,Sim,Não,Não
52,8642,3858715,132,60,Residencial Horizontal,NaN,NaN,13250,Rua,NaN,...,NaN,1,0.01,Não,Não,Não,Não,Não,Não,Não

In [111]:
renda_bairros = pd.read_excel('planilhas\\renda_bairros_2010.xlsx')
renda_bairros

                bairro  renda_nm_med
0                Acupe        2885.7
1         Águas Claras         929.9
2    Alto da Terezinha         831.7
3      Alto das Pombas        1048.7
4      Alto do Cabrito         842.5
..                 ...           ...
156            Valéria         873.0
157       Vila Canária        1063.1
158         Vila Laura        4430.9
159   Vila Ruy Barbosa        1235.6
160            Vitória       10135.2

[161 rows x 2 columns]

In [112]:
renda_bairros.rename(columns={'bairro' : 'bairro_localização'}, inplace=True)
renda_bairros

    bairro_localização  renda_nm_med
0                Acupe        2885.7
1         Águas Claras         929.9
2    Alto da Terezinha         831.7
3      Alto das Pombas        1048.7
4      Alto do Cabrito         842.5
..                 ...           ...
156            Valéria         873.0
157       Vila Canária        1063.1
158         Vila Laura        4430.9
159   Vila Ruy Barbosa        1235.6
160            Vitória       10135.2

[161 rows x 2 columns]

In [113]:
lote_2_filtro_debito['bairro_localização']

2571    AEROPORTO                                     ...
2570                                        SAO CRISTOVAO
2569    GRANJAS RURAIS PRESIDENTE VARGAS              ...
2568    GRANJAS RURAIS PRESIDENTE VARGAS              ...
245                                    CAMPINAS DE PIRAJA
                              ...
686                                             NARANDIBA
682                                          AGUAS CLARAS
683                                                ITAPUÃ
684                                            SÃO MARCOS
52      MONTE SERRAT                                  ...
Name: bairro_localização, Length: 2572, dtype: object

In [114]:
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.upper()
renda_bairros

    bairro_localização  renda_nm_med
0                ACUPE        2885.7
1         ÁGUAS CLARAS         929.9
2    ALTO DA TEREZINHA         831.7
3      ALTO DAS POMBAS        1048.7
4      ALTO DO CABRITO         842.5
..                 ...           ...
156            VALÉRIA         873.0
157       VILA CANÁRIA        1063.1
158         VILA LAURA        4430.9
159   VILA RUY BARBOSA        1235.6
160            VITÓRIA       10135.2

[161 rows x 2 columns]

In [117]:
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('ÁGUAS', 'AGUAS')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('NAZARÉ', 'NAZARE')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('CAMPINAS DE PIRAJÁ', 'CAMPINAS DE PIRAJA')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('SÃO GONÇALO', 'SAO GONCALO')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('IMBUÍ', 'IMBUI')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('PORTO SECO PIRAJÁ', 'PORTO SECO PIRAJA') 
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('SANTA MÔNICA', 'SANTA MONICA') 
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('SÃO TOMÉ', 'SAO TOMÉ') 
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('GRAÇA', 'GRACA') 
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('PITUAÇU', 'PITUACU')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('PIATÃ', 'PIATA')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('SÃO CAETANO', 'SAO CAETANO') 
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('SÃO CRISTÓVÃO', 'SAO CRISTOVAO') 
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('BOA VISTA DE SÃO CAETANO', 'BOA VISTA DE SAO CAETANO') 
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('TORORÓ', 'TORORO')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('VILA CANÁRIA', 'VILA CANARIA')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('SAÚDE', 'SAUDE')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('NOVA BRASÍLIA DE ITAPUÃ', 'NOVA BRASILIA DE ITAPUA')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('PERNAMBUÉS', 'PERNAMBUES')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('SANTO ANTÔNIO', 'SANTO ANTONIO')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('SÃO JOÃO DO CABRITO', 'SAO JOAO DO CABRITO')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('ÁGUA', 'AGUA')
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('NOVA BRASÍLIA', 'NOVA BRASILIA') 
renda_bairros['bairro_localização'] = renda_bairros['bairro_localização'].str.replace('NOVA BRASILIA DE VALÉRIA', 'NOVA BRASÍLIA DE VALÉRIA') 
renda_bairros

    bairro_localização  renda_nm_med
0                ACUPE        2885.7
1         AGUAS CLARAS         929.9
2    ALTO DA TEREZINHA         831.7
3      ALTO DAS POMBAS        1048.7
4      ALTO DO CABRITO         842.5
..                 ...           ...
156            VALÉRIA         873.0
157       VILA CANARIA        1063.1
158         VILA LAURA        4430.9
159   VILA RUY BARBOSA        1235.6
160            VITÓRIA       10135.2

[161 rows x 2 columns]

In [126]:
#RENDA MEDIA POR BAIRRO
rm_lote_2 = lote_2_filtro_debito.merge(renda_bairros, on='bairro_localização', how='left')
rm_lote_2['renda_nm_med'].info()
rm_lote_2

<class 'pandas.core.series.Series'>
RangeIndex: 2572 entries, 0 to 2571
Series name: renda_nm_med
Non-Null Count  Dtype
--------------  -----
1424 non-null   float64
dtypes: float64(1)
memory usage: 20.2 KB

,item,inscr. imob.,área_construída,área_do_terreno,utilização,utilização_especial/institucional,atividade_especial,cod._logradouro_localização,tipo_logradouro_localização,título_logradouro_localização,...,qtd_exercícios_com_débitos_(sefaz e dívida ativa),total_do_débito_(sefaz e dívida ativa),mais de 16 anos_sem pagamento_iptu/trsd_(sim/não)_-_de_2008 a 2023,"possui_imunidade, isenção ou não incidência_de_iptu_(sim/não)_-_de_2008 a 2023","possui_imunidade, isenção ou não incidência_da_trsd_(sim/não)_-_de_2008 a 2023",possui_pagamentos_de_transmissão (itiv)_associados à inscrição_(sim/não)_-_de_2008 a 2023,possui_pad_(sim/não),possui_parcelamentos_(sim/não),possui_refis_(sim/não),renda_nm_med
0,11161,5979331,53138,62835,Comercial,NaN,NaN,95397,Praça,NaN,...,16,15947482.01,Não,Não,Não,Não,Não,Não,Não,NaN
1,11160,2330806,40,68540,Residencial Horizontal,NaN,NaN,5789,Avenida,NaN,...,20,8467277.96,Não,Não,Não,Não,Não,Não,Não,1041.1
2,11159,4920830,1737,101351,Comercial,NaN,NaN,5789,Avenida,NaN,...,10,4575900.65,Não,Não,Não,Sim,Não,Não,Não,NaN
3,11158,126268,4351,27300,Industrial,NaN,NaN,40533,Rua,do,...,14,3541815.07,Não,Não,Não,Sim,Não,Não,Não,NaN
4,8835,3105989,4659,24100,Comercial,NaN,NaN,43494,Estrada,NaN,...,9,3113359.57,Não,Não,Não,Não,Não,Não,Não,897.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2567,9276,2638053,57,52,Residencial Vertical,NaN,NaN,77950,Rua,NaN,...,2,0.02,Não,Não,Não,Não,Não,Não,Não,1300.4
2568,9272,2168375,2317,8592,Comercial,NaN,NaN,48763,Rua,NaN,...,1,0.01,Não,Não,Não,Não,Sim,Não,Não,929.9
2569,9273,91995,356,1452,Residencial Horizontal,NaN,NaN,41424,Rua,NaN,...,1,0.01,Não,Não,Não,Não,Sim,Não,Não,2382.2
2570,9274,3398676,40,400,Residencial Vertical,NaN,NaN,44164,Avenida,NaN,...,1,0.01,Não,Não,Não,Não,Sim,Não,Não,839.5
2571,8642,3858715,132,60,Residencial Horizontal,NaN,NaN,13250,Rua,NaN,...,1,0.01,Não,Não,Não,Não,Não,Não,Não,NaN

In [120]:
rm_lote_2_sem_null = rm_lote_2.dropna(subset='renda_nm_med')
rm_lote_2_sem_null

,item,inscr. imob.,área_construída,área_do_terreno,utilização,utilização_especial/institucional,atividade_especial,cod._logradouro_localização,tipo_logradouro_localização,título_logradouro_localização,...,qtd_exercícios_com_débitos_(sefaz e dívida ativa),total_do_débito_(sefaz e dívida ativa),mais de 16 anos_sem pagamento_iptu/trsd_(sim/não)_-_de_2008 a 2023,"possui_imunidade, isenção ou não incidência_de_iptu_(sim/não)_-_de_2008 a 2023","possui_imunidade, isenção ou não incidência_da_trsd_(sim/não)_-_de_2008 a 2023",possui_pagamentos_de_transmissão (itiv)_associados à inscrição_(sim/não)_-_de_2008 a 2023,possui_pad_(sim/não),possui_parcelamentos_(sim/não),possui_refis_(sim/não),renda_nm_med
1,11160,2330806,40,68540,Residencial Horizontal,NaN,NaN,5789,Avenida,NaN,...,20,8467277.96,Não,Não,Não,Não,Não,Não,Não,1041.1
4,8835,3105989,4659,24100,Comercial,NaN,NaN,43494,Estrada,NaN,...,9,3113359.57,Não,Não,Não,Não,Não,Não,Não,897.3
5,8834,63622,4250,15000,Comercial,NaN,Hospital,27812,Rua,Doutor,...,25,2938148.50,Não,Não,Não,Não,Não,Não,Não,1687.0
6,8833,9138234,254,26186,Residencial Horizontal,NaN,NaN,89605,Rua,Santo,...,9,2812454.00,Não,Não,Não,Não,Não,Não,Não,1400.3
7,11157,6951970,10146,25330,Industrial,NaN,NaN,46612,Avenida,Cardeal,...,9,2512580.76,Não,Não,Não,Sim,Sim,Não,Não,1107.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2565,8643,2099659,196,4705,Residencial Horizontal,NaN,NaN,90492,Rua,São,...,2,0.02,Não,Não,Não,Não,Sim,Não,Não,2471.3
2567,9276,2638053,57,52,Residencial Vertical,NaN,NaN,77950,Rua,NaN,...,2,0.02,Não,Não,Não,Não,Não,Não,Não,1300.4
2568,9272,2168375,2317,8592,Comercial,NaN,NaN,48763,Rua,NaN,...,1,0.01,Não,Não,Não,Não,Sim,Não,Não,929.9
2569,9273,91995,356,1452,Residencial Horizontal,NaN,NaN,41424,Rua,NaN,...,1,0.01,Não,Não,Não,Não,Sim,Não,Não,2382.2
2570,9274,3398676,40,400,Residencial Vertical,NaN,NaN,44164,Avenida,NaN,...,1,0.01,Não,Não,Não,Não,Sim,Não,Não,839.5

In [123]:
lote_correspondencias_bairro_renda = rm_lote_2_sem_null.sort_values('renda_nm_med', ascending=False)
lote_correspondencias_bairro_renda

,item,inscr. imob.,área_construída,área_do_terreno,utilização,utilização_especial/institucional,atividade_especial,cod._logradouro_localização,tipo_logradouro_localização,título_logradouro_localização,...,qtd_exercícios_com_débitos_(sefaz e dívida ativa),total_do_débito_(sefaz e dívida ativa),mais de 16 anos_sem pagamento_iptu/trsd_(sim/não)_-_de_2008 a 2023,"possui_imunidade, isenção ou não incidência_de_iptu_(sim/não)_-_de_2008 a 2023","possui_imunidade, isenção ou não incidência_da_trsd_(sim/não)_-_de_2008 a 2023",possui_pagamentos_de_transmissão (itiv)_associados à inscrição_(sim/não)_-_de_2008 a 2023,possui_pad_(sim/não),possui_parcelamentos_(sim/não),possui_refis_(sim/não),renda_nm_med
291,10578,2529700,197,412,Comercial,NaN,Restaurante,50130,Alameda,das,...,1,11187.95,Não,Não,Não,Sim,Sim,Não,Não,9176.0
40,11130,5064155,5040,4200,Comercial,NaN,NaN,31089,Avenida,NaN,...,4,337188.81,Não,Não,Sim,Sim,Sim,Não,Não,9176.0
2051,9042,4657713,50,105,Residencial Horizontal,NaN,NaN,49239,Avenida,NaN,...,1,431.77,Não,Não,Não,Não,Sim,Não,Não,9176.0
2411,8855,5402247,111,107,Residencial Horizontal,NaN,NaN,31089,Avenida,NaN,...,3,101.97,Não,Não,Não,Não,Não,Não,Não,9176.0
2376,9422,5402239,111,107,Residencial Horizontal,NaN,Restaurante,31089,Avenida,NaN,...,4,137.79,Não,Não,Não,Não,Não,Não,Não,9176.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,9077,3264254,48,600,Residencial Horizontal,NaN,NaN,49263,Rodovia,NaN,...,1,482.30,Não,Não,Não,Não,Não,Não,Não,644.8
2082,9524,1746898,70,360,Residencial Horizontal,NaN,NaN,49263,Rodovia,NaN,...,1,394.25,Não,Não,Não,Não,Não,Não,Não,644.8
142,10246,6584713,336,1050,Comercial,NaN,NaN,90964,Rodovia,NaN,...,7,36364.61,Não,Não,Não,Não,Não,Não,Não,585.1
489,10887,9215271,52,25,Comercial,NaN,NaN,92940,Rua,Nossa Senhora das,...,7,5276.75,Não,Não,Não,Não,Não,Não,Não,585.1
494,10160,6953212,57,1070,Residencial Horizontal,NaN,NaN,90964,Rodovia,NaN,...,10,5217.75,Não,Não,Não,Sim,Não,Não,Não,585.1

In [125]:
lote_correspondencias_bairro_renda.to_excel('planilhas\\2_LT_PRIORIDADE_1424_INSC_COM_BAIRRO.xlsx')

In [128]:
lotes_rm_null = rm_lote_2[rm_lote_2['renda_nm_med'].isnull()]
lotes_rm_null

,item,inscr. imob.,área_construída,área_do_terreno,utilização,utilização_especial/institucional,atividade_especial,cod._logradouro_localização,tipo_logradouro_localização,título_logradouro_localização,...,qtd_exercícios_com_débitos_(sefaz e dívida ativa),total_do_débito_(sefaz e dívida ativa),mais de 16 anos_sem pagamento_iptu/trsd_(sim/não)_-_de_2008 a 2023,"possui_imunidade, isenção ou não incidência_de_iptu_(sim/não)_-_de_2008 a 2023","possui_imunidade, isenção ou não incidência_da_trsd_(sim/não)_-_de_2008 a 2023",possui_pagamentos_de_transmissão (itiv)_associados à inscrição_(sim/não)_-_de_2008 a 2023,possui_pad_(sim/não),possui_parcelamentos_(sim/não),possui_refis_(sim/não),renda_nm_med
0,11161,5979331,53138,62835,Comercial,NaN,NaN,95397,Praça,NaN,...,16,15947482.01,Não,Não,Não,Não,Não,Não,Não,NaN
2,11159,4920830,1737,101351,Comercial,NaN,NaN,5789,Avenida,NaN,...,10,4575900.65,Não,Não,Não,Sim,Não,Não,Não,NaN
3,11158,126268,4351,27300,Industrial,NaN,NaN,40533,Rua,do,...,14,3541815.07,Não,Não,Não,Sim,Não,Não,Não,NaN
11,11153,3149943,60,4393,Comercial,NaN,Restaurante,2160,Estrada,das,...,26,1254534.76,Não,Não,Não,Não,Não,Não,Não,NaN
12,8832,3853527,1005,2558,Comercial,NaN,Restaurante,11401,Avenida,NaN,...,12,1085980.05,Não,Não,Não,Não,Não,Não,Não,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2560,9281,9124390,139,143,Residencial Horizontal,NaN,NaN,138533,Rua,NaN,...,1,0.27,Não,Sim,Não,Não,Não,Não,Não,NaN
2561,9280,2126290,58,47,Residencial Vertical,NaN,NaN,35815,Rua,NaN,...,1,0.16,Não,Sim,Não,Sim,Não,Não,Sim,NaN
2564,9277,2019876,216,7200,Comercial,NaN,NaN,5789,Avenida,NaN,...,1,0.05,Não,Não,Não,Não,Sim,Não,Não,NaN
2566,9275,5614767,30,30,Comercial,NaN,NaN,84484,Caminho,NaN,...,1,0.02,Não,Não,Não,Não,Não,Não,Não,NaN
2571,8642,3858715,132,60,Residencial Horizontal,NaN,NaN,13250,Rua,NaN,...,1,0.01,Não,Não,Não,Não,Não,Não,Não,NaN

In [129]:
lotes_rm_null.to_excel('planilhas\\2_LT_1148_INSC_SEM_BAIRRO.xlsx')