In [6]:
import pandas as pd
import numpy as np
import json

In [21]:
# Ler o conteúdo do arquivo txt
with open('dados/586/response.txt', 'r') as file:
    json_str = file.read()

# Carregar o JSON
json_data = json.loads(json_str)

# Converter o JSON em um DataFrame
if isinstance(json_data, list):
    df = pd.json_normalize(json_data)
elif isinstance(json_data, dict):
    df = pd.json_normalize(json_data)
else:
    raise ValueError("Formato de JSON inesperado.")

# Exibir o DataFrame
df

,data,filtro.tamPagina,filtro.numPagina,filtro.cpf_cnpj,filtro.data_atualizacao,dadosPagina.tempoConsulta,dadosPagina.linhaInicial,dadosPagina.tamPagina
0,"[{'LINHA': '1', 'INSCRICAO': '1608959', 'MAT_E...",200,1,39626032553,,00:00:13.5717419,1,5

In [30]:
df['json_dict'] = df['data'].apply(lambda x: x[3]) 

# Normalizar a coluna de dicionários para colunas separadas
df_normalizado = pd.json_normalize(df['json_dict'])

# Concatenar o DataFrame normalizado com o original
dados_inscricao = pd.concat([df, df_normalizado], axis=1)

# Remover as colunas originais de strings JSON e dicionários, se não forem mais necessárias
dados_inscricao.drop(columns=['data', 'json_dict'], inplace=True)

# Exibir o DataFrame final
dados_inscricao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 72 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   filtro.tamPagina            1 non-null      object
 1   filtro.numPagina            1 non-null      object
 2   filtro.cpf_cnpj             1 non-null      object
 3   filtro.data_atualizacao     1 non-null      object
 4   dadosPagina.tempoConsulta   1 non-null      object
 5   dadosPagina.linhaInicial    1 non-null      object
 6   dadosPagina.tamPagina       1 non-null      int64
 7   LINHA                       1 non-null      object
 8   INSCRICAO                   1 non-null      object
 9   SITUACAO_CAD                1 non-null      object
 10  COD_IMOVEL                  1 non-null      object
 11  ID_CONTRIBUINTE             1 non-null      int64
 12  NOME_CONTRIBUINTE           1 non-null      object
 13  CPF_CNPJ_CONTRIBUINTE       1 non-null      object
 14  NOME_DESTINATARIO           1 non-null      object
 15  CPF_CNPJ_DESTINATARIO       1 non-null      object
 16  CD_LOGRADOURO_TRIBUTACAO    1 non-null      int64
 17  LOGRADOURO_TRIBUTACAO       1 non-null      object
 18  CD_LOGRADOURO_LOCALIZACAO   1 non-null      int64
 19  LOGRADOURO_LOCALIZACAO      1 non-null      object
 20  NUMERO_METRICO_LOCALIZACAO  1 non-null      object
 21  OBS_LOCALIZACAO             1 non-null      object
 22  CD_BAIRRO_LOCALIZACAO       1 non-null      int64
 23  BAIRRO_LOCALIZACAO          1 non-null      object
 24  CD_MUNICIPIO_LOCALIZACAO    1 non-null      int64
 25  MUNICIPIO_LOCALIZACAO       1 non-null      object
 26  UF_LOCALIZACAO              1 non-null      object
 27  CEP_LOCALIZACAO             1 non-null      int64
 28  ZONA_LOCALIZACAO            1 non-null      object
 29  LOGRADOURO_DESTINATARIO     1 non-null      object
 30  EDIFICIO_DESTINATARIO       1 non-null      object
 31  NUMERO_PORTA_DESTINATARIO   1 non-null      object
 32  COMPLEMENTO_DESTINATARIO    1 non-null      object
 33  CD_BAIRRO_DESTINATARIO      1 non-null      int64
 34  BAIRRO_DESTINATARIO         1 non-null      object
 35  CD_MUNICIPIO_DESTINATARIO   1 non-null      int64
 36  MUNICIPIO_DESTINATARIO      1 non-null      object
 37  UF_DESTINATARIO             1 non-null      object
 38  CEP_DESTINATARIO            1 non-null      int64
 39  AREA_TOTAL                  1 non-null      float64
 40  AREA_CONSTRUIDA             1 non-null      float64
 41  UTILIZACAO                  1 non-null      object
 42  OCUPACAO                    1 non-null      object
 43  ANO_CONTRUCAO               1 non-null      int64
 44  COD_SF                      1 non-null      int64
 45  DESC_SF                     1 non-null      object
 46  VUPT                        1 non-null      float64
 47  PADRAO_CONSTRUTIVO          1 non-null      object
 48  VUPC                        1 non-null      float64
 49  FL                          1 non-null      float64
 50  VALOR_VENAL_TERRENO         1 non-null      float64
 51  VALOR_VENAL_CONST           1 non-null      float64
 52  VALOR_VENAL_TOTAL           1 non-null      float64
 53  TRSD_LANCADA                1 non-null      float64
 54  TRSD_COBRADA                1 non-null      float64
 55  AREA_EXCEDENTE              1 non-null      float64
 56  AREA_CONST_COBERTA          1 non-null      float64
 57  FVT                         1 non-null      float64
 58  FCT                         1 non-null      float64
 59  FDT                         1 non-null      float64
 60  FAV                         1 non-null      float64
 61  VALOR_VENAL_EXCE            1 non-null      float64
 62  AREA_CONST_DESCOB           1 non-null      float64
 63  AREA_LIVRE                  1 non-null      float64
 64  FIE                         1 non-null      float64
 65  FCC                         1 non-null      float64
 66  FPD                         1 non-null      float64
 67  FDC                         1 non-null      float64
 68  RECADASTRAMENTO_2013        1 non-null      object
 69  NUMERO_HABITE_SE            1 non-null      object
 70  DATA_CARGA                  1 non-null      object
 71  DATA_ATUALIZACAO            1 non-null      object
dtypes: float64(23), int64(12), object(37)
memory usage: 708.0+ bytes

In [31]:
logradouro_buscado = dados_inscricao['CD_LOGRADOURO_TRIBUTACAO'] 
logradouro_buscado

0    14699
Name: CD_LOGRADOURO_TRIBUTACAO, dtype: int64

In [35]:
inscricao = dados_inscricao[['INSCRICAO', 'SITUACAO_CAD', 'NOME_CONTRIBUINTE', 'CPF_CNPJ_CONTRIBUINTE', 'CD_LOGRADOURO_LOCALIZACAO', 'CD_LOGRADOURO_TRIBUTACAO', 'NUMERO_METRICO_LOCALIZACAO']]
inscricao

,INSCRICAO,SITUACAO_CAD,NOME_CONTRIBUINTE,CPF_CNPJ_CONTRIBUINTE,CD_LOGRADOURO_LOCALIZACAO,CD_LOGRADOURO_TRIBUTACAO,NUMERO_METRICO_LOCALIZACAO
0,5379253,SUSPENSA - PENDÃŠNCIA CADASTRAL,EUDES DE CASTRO TEIXEIRA,39626032553,14699,14699,4543

,data,filtro.tamPagina,filtro.numPagina,filtro.cpf_cnpj,filtro.data_atualizacao,dadosPagina.tempoConsulta,dadosPagina.linhaInicial,dadosPagina.tamPagina
0,"[{'LINHA': '1', 'INSCRICAO': '1608959', 'MAT_E...",200,1,39626032553,,00:00:13.5717419,1,5